{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPEECH</title>
    <link rel="stylesheet" href="../static/css/speech2.css">
    <script>
        function redirectToSpeechOutputPage3() {
            window.location.href = 'output_speech3.html';
        }
    </script>
</head>
<body>
    <h1 class="top-heading-speech">FHSS DECRYPT</h1>
    <div class="audio-signal">
        <div class="audio-container">
            <div class="audio-bar-1"></div>
            <div class="audio-bar-2"></div>
            <div class="audio-bar-3"></div>
            <div class="audio-bar-4"></div>
            <div class="audio-bar-5"></div>
            <div class="audio-bar-6"></div>
            <div class="audio-bar-9"></div>
            <div class="audio-bar-10"></div>
        </div>
        <div class="audio-container">
            <div class="audio-bar-1"></div>
            <div class="audio-bar-2"></div>
            <div class="audio-bar-3"></div>
            <div class="audio-bar-4"></div>
            <div class="audio-bar-5"></div>
            <div class="audio-bar-6"></div>
            <div class="audio-bar-9"></div>
            <div class="audio-bar-10"></div>
        </div>
        <div class="audio-container">
            <div class="audio-bar-1"></div>
            <div class="audio-bar-2"></div>
            <div class="audio-bar-3"></div>
            <div class="audio-bar-4"></div>
            <div class="audio-bar-5"></div>
            <div class="audio-bar-6"></div>
            <div class="audio-bar-9"></div>
            <div class="audio-bar-10"></div>
        </div>
    </div>
    <form action="{% url 'output_speech3' %}" method="post" enctype="multipart/form-data" class="audio-files-form">
        {% csrf_token %}
        <!-- Carrier Audio File -->
        <label for="carrier">Select Carrier Audio File:</label>
        <input type="file" id="carrier" name="carrier" accept="audio/wav" required>
        <br>

        <!-- Submit Button -->
        <button type="submit" class="submit-audio" onclick="redirectToSpeechOutputPage3()">Upload Files</button>
    </form>
</body>
</html>